<!DOCTYPE html>
<html>

<head>

    <title>PhishShield</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="container">

    <h1>PhishShield</h1>

    <form method="POST">



        <input
            type="text"
            name="url"
            placeholder="Enter URL"
            required
        >

        <button type="submit">
            Analyze
        </button>

    </form>

    {% if result %}

        <h2>{{ result.status }}</h2>

        <p>
            <strong>URL:</strong>
            {{ result.url }}
        </p>

        <h3>
            Threat Score:
            {{ result.score }}/100
        </h3>
        <h3>
            Risk Level:
            {{ result.risk }}
        </h3>
        {% if vt_result %}

        <h2>VirusTotal Analysis</h2>

        <p>
          Malicious: {{ vt_result.malicious }}
        </p>

        <p>
         Suspicious: {{ vt_result.suspicious }}
        </p>

         <p>
        Harmless: {{ vt_result.harmless }}
         </p>

        <p>
        Undetected: {{ vt_result.undetected }}
       </p>
       {% if vt_result.message %}
       <p>{{ vt_result.message }}</p>
       {% endif %}

    {% endif %}

        {% if whois_result %}

        <h2>Domain Information</h2>

        {% if whois_result.error %}

        <p>{{ whois_result.error }}</p>

        {% else %}

        <p>
        Domain: {{ whois_result.domain }}
        </p>

        <p>
        Created: {{ whois_result.creation_date }}
        </p>

        <p>
        Age: {{ whois_result.age_days }} days
        </p>

        {% if whois_result.age_days < 30 %}
        <p>⚠ Very New Domain Detected</p>

        {% endif %}

        {% endif %}

        {% endif %}

        {% if ssl_result %}

        <h2>SSL Certificate</h2>

        {% if ssl_result.valid %}

        <p>✅ SSL Certificate Valid</p>

        {% else %}

        <p>⚠ SSL Certificate Invalid</p>

        <p>{{ ssl_result.error }}</p>

        {% endif %}

        {% endif %}

        {% if result.findings %}
            <h3>Findings</h3>

            <ul>

                {% for item in result.findings %}

                    <li>{{ item }}</li>

                {% endfor %}

            </ul>

        {% else %}

            <p>
                No suspicious indicators found.
            </p>
        <a href="/download-report">
        <button>
        Download PDF Report
        </button>
        </a>
        {% endif %}

    {% endif %}

</div>

</body>

</html>


